In [1]:
import pandas as pd
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import numpy as np
import zipfile

# Introducao
## Bases Utilizadas

- [Base BNDES (Desembolsos)](https://dadosabertos.bndes.gov.br/dataset/desembolsos-mensais/resource/aac5c7bd-5d18-41c3-9720-52d20470427e) (Carregada por meio da API do portal de dados abertos do BNDES)

- [Base WDI (Países)](https://datatopics.worldbank.org/world-development-indicators/) (Carregada localmente)

# Base Desembolsos Mensais

In [2]:
url_desembolsos = "https://dadosabertos.bndes.gov.br/dataset/c529f6a7-5ce4-4378-a585-92cbf53af710/resource/aac5c7bd-5d18-41c3-9720-52d20470427e/download/desembolsos-mensais.csv"

df_desembolsos = pd.read_csv(url_desembolsos, sep=';',decimal=",")

In [5]:
df_desembolsos.head(3)

,ano,mes,forma_de_apoio,produto,instrumento_financeiro,inovacao,porte_de_empresa,regiao,uf,municipio,municipio_codigo,setor_cnae,subsetor_cnae_agrupado,setor_bndes,subsetor_bndes,desembolsos_reais
0,2010,9,DIRETA,BNDES MERCADO DE CAPITAIS,MERCADO DE CAPITAIS,NÃO,GRANDE,SUDESTE,RIO DE JANEIRO,RIO DE JANEIRO,3304557,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,2.475354e+10
1,2009,7,DIRETA,BNDES FINEM,PROGRAMA PETROBRAS,NÃO,GRANDE,NORDESTE,PERNAMBUCO,IPOJUCA,2607208,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,9.889998e+09
2,2009,7,DIRETA,BNDES FINEM,PROGRAMA PETROBRAS,NÃO,GRANDE,SUDESTE,RIO DE JANEIRO,DIVERSOS,9999998,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,9.409998e+09

# Base WDI

In [6]:
wdi_zip = zipfile.ZipFile('../data/WDI_csv.zip')
df_wdi = pd.read_csv(wdi_zip.open('WDIData.csv'))

In [7]:
df_wdi.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN

Vamos checar agora quais anos sao cobertos pelos dados do BNDES para filtrarmos a base WDI com dados de nosso interesse.

In [8]:
lista_anos_interesse = df_desembolsos['ano'].sort_values().unique().astype(str)

print(lista_anos_interesse)

['1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017' '2018' '2019' '2020']

Vemos que sao dados a partir de 1995 com termino em 2020. Com essas informacoes, vamos filtrar as colunas da base wdi. Vamos manter as colunas contendo o nome do pais, codigo do pais e nome do indicador (Country Name, Country Code, Indicator Name)

In [9]:
df_wdi[lista_anos_interesse]

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,NaN,NaN,12.205985,12.549333,12.887705,13.226335,13.575592,...,15.981256,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,20.086007,23.103178,24.223430,25.023184,26.176336,...,28.381836,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN
2,NaN,NaN,NaN,NaN,NaN,8.491610,13.201875,15.209347,13.813535,15.423615,...,15.295950,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN
3,NaN,NaN,NaN,NaN,NaN,56.083452,54.770123,56.102330,57.094310,57.836866,...,65.470615,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383833,NaN,NaN,NaN,NaN,22.3,NaN,NaN,NaN,NaN,NaN,...,16.900000,NaN,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN
383834,NaN,NaN,NaN,NaN,4.6,NaN,NaN,NaN,NaN,NaN,...,3.900000,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,5.400000,NaN
383835,NaN,NaN,NaN,NaN,28.7,NaN,NaN,NaN,NaN,NaN,...,30.500000,NaN,NaN,33.500000,32.400000,NaN,NaN,NaN,33.700000,NaN
383836,51.6,52.3,52.9,53.5,54.0,54.600000,55.200000,55.700000,56.200000,56.600000,...,59.000000,59.200000,59.300000,59.400000,59.400000,59.500000,59.500000,59.600000,59.600000,NaN
383837,64000.0,57000.0,51000.0,47000.0,43000.0,40000.000000,37000.000000,36000.000000,34000.000000,32000.000000,...,23000.000000,21000.000000,20000.000000,19000.000000,18000.000000,16000.000000,15000.000000,13000.000000,13000.000000,NaN

In [10]:
cols_wdi_indicadores =["Chemicals (% of value added in manufacturing)",
                        "Agriculture, forestry, and fishing, value added (% of GDP)",                        
                        "Industry (including construction), value added (% of GDP)",
                        "Services, value added (% of GDP)",
                        "Manufacturing, value added (% of GDP)",
                        "Food, beverages and tobacco (% of value added in manufacturing)",
                        "Textiles and clothing (% of value added in manufacturing)", 
                        "Machinery and transport equipment (% of value added in manufacturing)",
                        "Other manufacturing (% of value added in manufacturing)",
                        "GDP per capita growth (annual %)"]

In [12]:
for i in cols_wdi_indicadores:
    print(i)

Chemicals (% of value added in manufacturing)
Agriculture, forestry, and fishing, value added (% of GDP)
Industry (including construction), value added (% of GDP)
Services, value added (% of GDP)
Manufacturing, value added (% of GDP)
Food, beverages and tobacco (% of value added in manufacturing)
Textiles and clothing (% of value added in manufacturing)
Machinery and transport equipment (% of value added in manufacturing)
Other manufacturing (% of value added in manufacturing)
GDP per capita growth (annual %)

In [11]:
for i in df_desembolsos['subsetor_bndes'].unique():
    print(i)

QUÍMICA E PETROQUÍMICA
COMÉRCIO E SERVIÇOS
OUTROS TRANSPORTES
MATERIAL DE TRANSPORTE
ALIMENTO E BEBIDA
ENERGIA ELÉTRICA
CELULOSE E PAPEL
TELECOMUNICAÇÕES
METALURGIA E PRODUTOS
EXTRATIVA
TRANSPORTE FERROVIÁRIO
ATV. AUX. TRANSPORTES
MECÂNICA
AGROPECUÁRIA
SERV. UTILIDADE PÚBLICA
TÊXTIL E VESTUÁRIO
CONSTRUÇÃO
OUTRAS
TRANSPORTE RODOVIÁRIO
OUTROS

In [33]:
cols_desembolsos_indicadores = ['QUÍMICA E PETROQUÍMICA',
                                'AGROPECUÁRIA',
                                'CONSTRUÇÃO',
                                'COMÉRCIO E SERVIÇOS',
                                'OUTROS TRANSPORTES',
                                'MATERIAL DE TRANSPORTE',
                                'ALIMENTO E BEBIDA',
                                'ENERGIA ELÉTRICA',
                                'CELULOSE E PAPEL',
                                'TELECOMUNICAÇÕES',
                                'METALURGIA E PRODUTOS',
                                'EXTRATIVA',
                                'TRANSPORTE FERROVIÁRIO',
                                'ATV. AUX. TRANSPORTES',
                                'MECÂNICA',                                
                                'SERV. UTILIDADE PÚBLICA',
                                'TÊXTIL E VESTUÁRIO',
                                'OUTRAS',
                                'TRANSPORTE RODOVIÁRIO',
                                'OUTROS']

In [37]:
df_desembolsos['subsetor_cnae_agrupado'].sort_values().unique()

array(['ADMINISTRAÇÃO PÚBLICA', 'AGROPECUÁRIA',
       'ALOJAMENTO E ALIMENTAÇÃO', 'ARTES, CULTURA E ESPORTE',
       'ATIV AUX TRANSPORTE E ENTREGA', 'ATIV FINANCEIRA E SEGURO',
       'ATIV IMOBIL, PROFISSIONAL E ADM', 'BEBIDAS',
       'BORRACHA E PLÁSTICO', 'CELULOSE E PAPEL', 'COMÉRCIO',
       'CONFEC, VESTUÁRIO E ACESSÓRIOS', 'CONSTRUÇÃO',
       'COQUE, PETRÓLEO E COMBUSTÍVEL', 'COURO, ARTEFATO E CALÇADO',
       'EDUCAÇÃO', 'ELETRICIDADE E GÁS', 'EQUIP INFO, ELETRONICO, ÓTICO',
       'FARMOQUÍMICO, FARMACÊUTICO', 'FUMO', 'GRÁFICA',
       'INDÚSTRIA EXTRATIVA', 'INFORMAÇÃO E COMUNICAÇÃO', 'MADEIRA',
       'MANUTENÇÃO, REPARAÇÃO, INSTAL.', 'METALURGIA',
       'MINERAL NÃO METÁLICO', 'MÁQ, APARELHO ELETRICO',
       'MÁQUINAS E EQUIPAMENTOS', 'MÓVEIS', 'ORGANISMOS INTERNACIONAIS',
       'OUTRAS ATIV SERVIÇOS', 'OUTROS EQUIP TRANSPORTE',
       'PRODUTO DE METAL', 'PRODUTOS ALIMENTÍCIOS', 'PRODUTOS DIVERSOS',
       'QUÍMICA', 'SAÚDE E SERV SOCIAL', 'TELECOMUNICAÇÕES',
       'TRANSPORTE AQUAVIÁRIO', 'TRANSPORTE AÉREO',
       'TRANSPORTE TERRESTRE', 'TÊXTIL', 'VEÍCULO, REBOQUE E CARROCERIA',
       'ÁGUA, ESGOTO E LIXO'], dtype=object)

In [13]:
relacao = {"quimica" : ["QUÍMICA E PETROQUÍMICA", "Chemicals (% of value added in manufacturing)"],""}